@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model FixItApp.Infrastructure.DataTransferObjects.UserDTO
<div>
    <!-- Page Header Start -->
                <div class="page-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <h2>Welcome back, @Model.Login </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page Header End -->
    
    <div style="margin-top: 10px">
        <div class="feature wow fadeInUp" data-wow-delay="0.1s">
            <div class="container-fluid">
                <div class="row align-items-center">
                        <a asp-controller="User" asp-action="GetMasters"  class="col-lg-4 col-md-12">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-worker"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>View all masters</h3>
                                    <p>All of the masters are listed here.</p>
                                </div>
                            </div>
                        </a>
                        <a asp-controller="Application" asp-action="GetAllApplications" class="col-lg-4 col-md-12">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-building"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>View all applications</h3>
                                    <p>Applications and their info. Edit, add and work with customers.</p>
                                </div>
                            </div>
                        </a>
                        <a asp-controller="User" asp-action="GetCustomers"  class="col-lg-4 col-md-12">
                            <div class="feature-item">
                                <div class="feature-icon">
                                    <i class="flaticon-call"></i>
                                </div>
                                <div class="feature-text">
                                    <h3>View all customers</h3>
                                    <p>Customers and their data.</p>
                                </div>
                            </div>
                        </a>
                        <a asp-controller="User" asp-action="GetAllUsers" method="get" class="col-lg-4 col-md-12">
                            <div class="feature-item">
                                <div class="feature-icon">
                                </div>
                                <div class="feature-text">
                                    <h3>View all users</h3>
                                    <p>Users and their info. Edit their profiles.</p>
                                </div>
                            </div>
                        </a>
                    <a asp-controller="User" asp-action="CreateUser" method="get" class="col-lg-4 col-md-12">
                        <div class="feature-item">
                            <div class="feature-icon">
                            </div>
                            <div class="feature-text">
                                <h3>Create User</h3>
                                <p>Create user and add to database on your own.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End-->


</div>


