@model FixItApp.Infrastructure.DataTransferObjects.UserExtendedDTO
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>

<html>
<head>
    <title>Create Users</title>
</head>

<body>
    <div>
        <form asp-controller="User" asp-action="AddUser" method="post">
            <div asp-validation-summary="All">
                <div>
                    <input placeholder="Name" asp-for="Name"/>
                </div>
                <div>
                    <input placeholder="Surname" asp-for="Surname"/>
                </div>
                <div>
                    <input placeholder="Login" asp-for="Login"/>
                </div>
                <div>
                    <input placeholder="Password" type="password" asp-for="Password"/>
                </div>
                <div>
                    <input placeholder="Role" asp-for="Role"/>
                </div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</body>